/*CSS do navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  li {
    float: left;
    margin-top: 3px;
  }
  li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 10px;
  }
  .alinhar-final{
      margin-left: 800px;
  }
  .navbar{
      background-color:#BA956B;
      min-height: 50px;
  }
  img{
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 12px;
  }

  /*Classe imagem logo*/
  .imagem-logo{
      font-size: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      display: flex;
      align-items: center;
      margin-left: 6px;
  }
    /*Fecha classe imagem logo*/




  /*CSS dos cads*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}*

.card{
  width: 30%;
  border: 1px solid white;
  margin-bottom: 50px;
  margin-top: 50px;
  height: 500px;
  transition: 0.3s;
}

.card-title{
  text-align: center;
  padding: 50px 10px;
  color: #262626;
  font-size: 20px;
  background-color:#FFBD59;
}
.card-body{
    padding: 30px 20px;
}
.card-body .img{
   width: 100%;
   height: 300px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
}
.row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

/*responsividade*/
@media screen and (max-widht:1000px){
    .card{
        width: 40%;
    }
}

@media screen and (max-widht:620px){
  .container{
      width: 100%;
  }
  .card{
      width: 80%;
  }    
}


/*CSS contato e serviço*/
.row-segunda{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card-contato{
  margin-top: 20px;
  margin-bottom: 30px;
  width: 40%;
}
.card-serviço{
  width: 40%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.card-body-contato .img{
  width: 50%;
  height: 50%;
  margin-left: 130px;
}
.card-body-serviço .img{
  width: 50%;
  height: 50%;
  margin-left: 130px;
}
.card-body-contato{
  padding: 20px 20px;
}
.card-body-serviço{
  padding: 20px 20px;
}
.card-title-serviço{
  text-align: center;
  font-size: 25px;
}
.card-title-contato{
  text-align: center;
  font-size: 25px;
}

/*CSS do rodapé*/
.lista{
 
}
.rodape{
  background-color:#BA956B;
  display: flex;
  align-items: center;
  min-height: 500px;
}
.imgs{
  width: 100px;
  height: 100px;
}


/*CSS do HR*/
.linha-hr{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.linha-hr .img{
  margin-right: 30%;
  margin-right: 30%;
}