 /*CSS dos cads*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*
.container{
    width: 90%;
    margin: 50px auto;
}
.card{
  width: 30%;
  background-color: #000;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-title{
    text-align: center;
    padding: 50px 10px;
    color: #fff;
  }
  .card-body{
      padding: 30px 20px;
  }
  .card-body .img{
     width: 100%;
     height: 400px;
  }
  
  .card:hover{
      transform: scale(1.05);
      box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
  }
  .row{
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
  }

  /*responsividade*/
  @media screen and (max-widht:1000px){
      .card{
          width: 40%;
      }
  }

  @media screen and (max-widht:620px){
    .container{
        width: 100%;
    }
    .card{
        width: 80%;
    }    
}
  
  .row-segunda{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    justify-content: center
  }